<div class="footer">
    <div class="icons">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>

    <div class="icons-text">
        <p>Connect with Us!</p>
    </div>
    
    <div class="footer-text">
        <a href="#"><p>Privacy</p></a>
        <a href="#"><p>Terms & Conditions</p></a>
    </div>

</div>